Examples/ModulesIntrojucerUGen/Builds/MacOSX/build
Examples/ModulesIntrojucerUGen/Builds/MacOSX/ModulesIntrojucerUGen.xcodeproj/xcuserdata
Examples/ModulesIntrojucerUGen/Builds/MacOSX/ModulesIntrojucerUGen.xcodeproj/project.xcworkspace
